@font-face {
    font-family: 'GyeonggiTitleM';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GyeonggiTitleM.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

html,body{
    min-width: 100%;
    margin: 0;
    padding: 0;
}

/* 헤더css시작 */

header{
    width: 100%;    
    height: 100px;
    display: flex;
    border-bottom: 1px solid #00D1FE;
    justify-content: space-around;
}

.logo{
    width: 200px;
    height: 100px;
}

.logo img{
    width: 80px;
    height: 80px;
    margin-top: 10px;
    margin-left: 10px;
}

.menu{
    display: flex;
    justify-content: center;
}


.menu>ul{
    list-style: none;
    display: flex;
    justify-content: center;
    width: 700px;
}

.menu>ul>li{
    line-height: 100px;
}

.menu>ul>li>a:hover{
    color: #00D1FE;
}

.menu>ul>li>a{
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    color: #333;
}

.top-Icon{
    width: 200px;
    height: 100px;
    display: flex;
}

.top-Icon ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-Icon li{
    list-style: none;
    width: 60px;
    height: 60px;
}

.top-Icon img{
    width: 40px;
    height: 40px;
    margin: 10px;
}

/* 헤더 css끝 */

.title{
    width: 100%;
    height: 120px;
    text-align: center;
    line-height: 120px;
    font-size: 50px;
    font-family: 'GyeonggiTitleM';
}

.contents{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    height: 600px;
}

.logo2{
    width: 400px;
    height: 400px;
}

.aside{
    margin-left: 50px;
    height: 400px;
    width: 740px;
}

.top{
    height: 100px;
    margin-top: 20px;
    line-height: 40px;
    font-size: 20px;
    font-weight: bold;
}

.middle{
    height: 130px;
    line-height: 30px;
}

.middle span{
    font-size: 20px;
}

.bottom{
    height: 130px;
    margin-top: 30px;
}

.bottom>p{
    font-size: 25px;
    line-height: 30px;
    height: 30px;
}

.bottom>span{
    line-height: 30px;
}

/* 푸터 css시작 */

footer{
    width: 100%;
    background-color: #666;
    height: 300px;
    margin: 0;
    padding: 0;
}

.information{
    width: 100%;
    height: 300px;
    position: relative;
}

.information h4{
    color: #fff;
    font-size: 25px;
    padding: 20px;
    width: 400px;
    height: 25px;
}

.information span{
    position: absolute;
    top: 60px;
    left: 20px;
    color: #fff;
    width: 400px;
    height: 200px;
}

/* 푸터 css 끝 */