@font-face {
    font-family: 'GyeonggiTitleM';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GyeonggiTitleM.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

html,body{
    min-width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

/* 헤더css시작 */

header{
    width: 100%;    
    height: 100px;
    display: flex;
    border-bottom: 1px solid #00D1FE;
    justify-content: space-around;
}

.logo{
    width: 200px;
    height: 100px;
}

.logo img{
    width: 80px;
    height: 80px;
    margin-top: 10px;
    margin-left: 10px;
}

.menu{
    display: flex;
    justify-content: center;
}


.menu>ul{
    list-style: none;
    display: flex;
    justify-content: center;
    width: 700px;
}

.menu>ul>li{
    line-height: 100px;
}

.menu>ul>li>a:hover{
    color: #00D1FE;
}

.menu>ul>li>a{
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    color: #333;
}

.top-Icon{
    width: 200px;
    height: 100px;
    display: flex;
}

.top-Icon ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-Icon li{
    list-style: none;
    width: 60px;
    height: 60px;
}

.top-Icon img{
    width: 40px;
    height: 40px;
    margin: 10px;
}

/* 헤더 css끝 */

.image{
    width: calc(100% - 6px);
    height: 650px;
    border: 3px dashed #00D1FE;
    position: relative;
    overflow: hidden;
}

.image span{
    position: absolute;
    font-weight: bold;
    color: #00D1FE;
    font-size: 40px;
    margin-left: 910px;
    margin-top: 305px;
    width: 100px;
    height: 40px;
    line-height: 40px;
}

.search{
    width: 100%;
    height: auto;
    display: flex;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 50px;
}

#category{
    width: 150px;
    height: 50px;
    border-radius: 4px;
    border: #00D1FE 2px solid;
    font-size: 15px;
    font-weight: bold;
    color: #00D1FE;
    padding-left: 20px;
}

.keyword{
    width: 566px;
    height: 50px;
    border-radius: 4px;
    border: 2px solid #00D1FE;
    font-size: 15px;
    padding:0 20px;
    margin: 0px 20px;
}

.search-btn{
    transition: 0.3s;
    width: 150px;
    height: 50px;
    border-radius: 4px;
    background-color: #00D1FE;
    border: none;
    font-size: 15px;
    color: #fff;
    font-weight: bold;
}

.search-btn:hover{
    border: #00D1FE 2px solid;
    background-color: #fff;
    color: #00D1FE;
    cursor: pointer;
}

.upload{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: right;
}

.upload-btn{
    transition: 0.3s;
    width: 150px;
    height: 50px;
    border-radius: 4px;
    background-color: #00D1FE;
    border: none;
    font-size: 15px;
    color: #fff;
    font-weight: bold;
}

.upload-btn:hover{
    border: #00D1FE 2px solid;
    background-color: #fff;
    color: #00D1FE;
    cursor: pointer;
}

/* 푸터 css시작 */

footer{
    width: 100%;
    background-color: #666;
    height: auto;
    margin: 0;
    padding: 0;
}

.information{
    width: 100%;
    height: 300px;
    position: relative;
}

.information h4{
    color: #fff;
    font-size: 25px;
    padding: 20px;
    width: 400px;
    height: 25px;
}

.information span{
    position: absolute;
    top: 60px;
    left: 20px;
    color: #fff;
    width: 400px;
    height: 200px;
    width: 400px;
}

/* 푸터 css 끝 */