@font-face {
  font-family: "GyeonggiTitleM";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GyeonggiTitleM.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

html,
body {
  min-width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
}

/* 헤더css시작 */

header {
  width: 100%;
  height: 100px;
  display: flex;
  border-bottom: 1px solid #00d1fe;
  justify-content: space-around;
}

.logo {
  width: 200px;
  height: 100px;
}

.logo img {
  width: 80px;
  height: 80px;
  margin-top: 10px;
  margin-left: 10px;
}

.menu {
  display: flex;
  justify-content: center;
}

.menu > ul {
  list-style: none;
  display: flex;
  justify-content: center;
  width: 700px;
}

.menu > ul > li {
  line-height: 100px;
}

.menu > ul > li > a:hover {
  color: #00d1fe;
}

.menu > ul > li > a {
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  color: #333;
  font-family: "GyeonggiTitleM";
}

.top-Icon {
  width: 200px;
  height: 100px;
  display: flex;
}

.top-Icon ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-Icon li {
  list-style: none;
  width: 60px;
  height: 60px;
  opacity: 0.7;
}

.top-Icon li:hover {
  opacity: 1;
}

.top-Icon img {
  width: 40px;
  height: 40px;
  margin: 10px;
}

/* 헤더 css끝 */

.image {
  width: calc(100% - 6px);
  height: 650px;
  border: 3px dashed #00d1fe;
  position: relative;
  overflow: hidden;
}

.image span {
  position: absolute;
  font-weight: bold;
  color: #00d1fe;
  font-size: 40px;
  margin-left: 910px;
  margin-top: 305px;
  width: 100px;
  height: 40px;
  line-height: 40px;
}
/* js에 따른 css변경부분 */
.showResultKeyword {
  width: 100%;
  height: 50px;
}

/* table 칸 안맞아서 생성되는거 보고 적당히 변경해야될듯 */
.table-bar {
  width: calc(100% - 400px);
  height: 54px;
  margin: 30px 200px 0 200px;
}

.table-bar thead {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  height: 50px;
  border-top: 3px solid #00d1fe;
}

.table-bar tr:first-child {
  width: 100%;
  height: 50px;
  line-height: 50px;
  justify-content: center;
  margin: 10px 0;
}

.table-bar th {
  border-spacing: 0;
  width: 25%;
  line-height: 30px;
  text-align: center;
  font-size: 18px;
  color: #00d1fe;
  font-weight: bold;
  cursor: pointer;
  font-family: "GyeonggiTitleM";
}

.table-bar th:last-child {
  border-right: none;
}

.basic {
  border-top: 1px solid #00d1fe;
}

.basic:last-child {
  border-bottom: 1px solid #00d1fe;
}

.table-bar td {
  width: auto;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 18px;
  color: #333;
  font-weight: bold;
  cursor: pointer;
  font-family: "GyeonggiTitleM";
  border-collapse: collapse;
  border-spacing: 0;
}

/* 글자 자동 ...처리 */
/* white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block; */

tbody tr:hover {
  opacity: 0.4;
}

/* .table-bar td:hover {
  opacity: 0.4;
} */

.search {
  width: 100%;
  height: auto;
  display: flex;
  margin-top: 50px;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 50px;
}

#category {
  width: 150px;
  height: 50px;
  border-radius: 4px;
  border: #00d1fe 2px solid;
  font-size: 15px;
  font-weight: bold;
  color: #00d1fe;
  padding-left: 20px;
}

.keyword {
  width: 566px;
  height: 46px;
  border-radius: 4px;
  border: 2px solid #00d1fe;
  font-size: 15px;
  padding: 0 20px;
  margin: 0px 20px;
}

.search-btn {
  transition: 0.3s;
  width: 150px;
  height: 50px;
  border-radius: 4px;
  background-color: #00d1fe;
  border: none;
  font-size: 15px;
  color: #fff;
  font-weight: bold;
}

.search-btn:hover {
  border: #00d1fe 2px solid;
  background-color: #fff;
  color: #00d1fe;
  cursor: pointer;
}

.upload {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: right;
  margin: 50px 0;
}

.upload-btn {
  transition: 0.3s;
  width: 150px;
  height: 50px;
  border-radius: 4px;
  background-color: #00d1fe;
  border: none;
  font-size: 15px;
  color: #fff;
  font-weight: bold;
  margin-right: 50px;
}

.upload-btn:hover {
  border: #00d1fe 2px solid;
  background-color: #fff;
  color: #00d1fe;
  cursor: pointer;
}

/* 푸터 css시작 */

footer {
  width: 100%;
  background-color: #666;
  height: auto;
  margin: 0;
  padding: 0;
}

.information {
  width: 100%;
  height: 300px;
  position: relative;
}

.information h4 {
  color: #fff;
  font-size: 25px;
  padding: 20px;
  width: 400px;
  height: 25px;
}

.information span {
  position: absolute;
  top: 60px;
  left: 20px;
  color: #fff;
  width: 400px;
  height: 200px;
  width: 400px;
}

/* 푸터 css 끝 */
