@font-face {
    font-family: 'GyeonggiTitleM';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GyeonggiTitleM.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

input{
    transition: 0.3s;
    color: #666;
    font-family: 'GmarketSansMedium', 'GyeonggiTitleM';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
}

label{
    font-family: 'GmarketSansMedium', 'GyeonggiTitleM';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
}

input:focus{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    outline: none;
}


*{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

html,body{
    min-width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

/* 헤더css시작 */

header{
    width: 100%;    
    height: 100px;
    display: flex;
    border-bottom: 1px solid #00D1FE;
    justify-content: space-around;
    background-color: #333;
}

.logo{
    width: 200px;
    height: 100px;
}

.logo img{
    width: 80px;
    height: 80px;
    margin-top: 10px;
    margin-left: 10px;
}

.menu{
    display: flex;
    justify-content: center;
}


.menu>ul{
    list-style: none;
    display: flex;
    justify-content: center;
    width: 700px;
}

.menu>ul>li{
    line-height: 100px;
}

.menu>ul>li>a:hover{
    color: #00D1FE;
}

.menu>ul>li>a{
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    color: #00D1FE;
    font-family: 'GyeonggiTitleM';
}

.top-Icon{
    width: 200px;
    height: 100px;
    display: flex;
}

.top-Icon ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-Icon li{
    list-style: none;
    width: 60px;
    height: 60px;
}

.top-Icon img{
    width: 40px;
    height: 40px;
    margin: 10px;
}

/* 헤더 css끝 */

.dbwrap{
    width: 100%;
    height: 100%;
    background-color: #333;
    display: flex;
}

.leftside{
    width: 25%;
    border: 1px solid #00D1FE;
    border-top: none;
    display: flex;
    flex-direction: column;
}

.today{
    width: 100%;
    text-align: center;
    margin-top: 50px;
    color: #00D1FE;
    height: auto;
    font-family: 'GyeonggiTitleM';
}

.clock{
    margin-top: 30px;
    color: #00D1FE;
    width: 100%;
    text-align: center;
    font-size: 60px;
    height: auto;
    font-family: 'GyeonggiTitleM';
}

.left-sideImg{
    width: 100%;
    height: auto;
}

.rightside{
    width: 75%;
    height: 100%;
    border-bottom: 1px solid #00D1FE;
}

.updb-title{
    width: 100%;
    height: 10%;
    float: left;
    padding: 0 30px;
}

.updb-title p{
    display: flex;
    align-items: center;
    font-size: 30px;
    font-family: 'GyeonggiTitleM';
    color: #00D1FE;
    border-bottom: 1px solid #00D1FE;
}

.up-graph{
    display: flex;
    float: left;
    width: 100%;
    height: 35%;
    padding: 20px;
}


.gender-graph{
    width: 35%;
    height: 100%;
    margin-right: 20px;
    border: 1px dashed #00D1FE;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}


.age-graph{
    width: 35%;
    border:1px dashed #00D1FE;
    height: 100%;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.admin-info{
    width: 30%;
    height: 100%;
    border:1px dashed #00D1FE;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.admin-info>p{
    width: auto;
    height: auto;
    color: #00D1FE;
    margin-left: 20px;
    font-size: 25px;
    font-family: 'GyeonggiTitleM';
}

.down-graph{
    float: left;
    height: 55%;
    float: left;
}

.downdb-title{
    float: left;
    width: 100%;
    height: 15%;
    padding: 0 30px;
    font-family: 'GyeonggiTitleM';
    color: #00D1FE;
}

.downdb-title>p{
    width: 100%;
    display: flex;
    font-size: 20px;
    align-items: center;
    border-bottom: 1px solid #00D1FE;
}

.line-graph{
    width: calc(100% - 40px);
    height: calc(85% - 40px);
    border:1px dashed #00D1FE;
    float: left;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

/* 푸터 css시작 */

footer{
    width: 100%;
    background-color: #666;
    height: 300px;
    margin: 0;
    padding: 0;
}

.information{
    width: 100%;
    height: 300px;
    position: relative;
}

.information h4{
    color: #fff;
    font-size: 25px;
    padding: 20px;
    width: 400px;
    height: 25px;
}

.information span{
    position: absolute;
    top: 60px;
    left: 20px;
    color: #fff;
    width: 400px;
    height: 200px;
    width: 400px;
}

/* 푸터 css 끝 */