@font-face {
  font-family: "GyeonggiTitleM";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GyeonggiTitleM.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

html,
body {
  min-width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
}

/* 헤더css시작 */

header {
  width: 100%;
  height: 100px;
  display: flex;
  background-color: #333;
  justify-content: center;
}

.logo {
  width: 200px;
  height: 100px;
}

.logo img {
  width: 60px;
  height: 60px;
  margin-top: 20px;
  margin-left: 20px;
  opacity: 0.8;
}

.logo img:hover {
  opacity: 1;
}

.menu {
  width: auto;
  display: flex;
  justify-content: center;
}

.menu > ul {
  list-style: none;
  display: flex;
  justify-content: center;
  width: 700px;
}

.menu > ul > li {
  line-height: 100px;
}

.menu > ul > li > a:hover {
  color: #fff;
}

.menu > ul > li > a {
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  color: #00d1fe;
  font-family: "GyeonggiTitleM";
}

.top-Icon {
  width: 200px;
  height: 100px;
  display: flex;
}

.top-Icon ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-Icon li {
  list-style: none;
  width: 60px;
  height: 60px;
  opacity: 0.7;
}

.top-Icon li:hover {
  opacity: 1;
}

.top-Icon img {
  width: 40px;
  height: 40px;
  margin: 10px;
}

/* 헤더 css끝 */

.FAQ-title {
  width: calc(100% - 400px);
  margin: 50px auto;
  font-family: "GmarketSansMedium";
  text-align: center;
  height: auto;
}

.FAQ {
  width: calc(100% - 400px);
  border-top: 3px solid #00d1fe;
  height: auto;
  margin: 30px auto;
}

.FAQ-wrap {
  display: flex;
  flex-direction: column;
}

.FAQ-wrap > ul {
  height: 100px;
  line-height: 100px;
  border-bottom: 1px solid #00d1fe;
  padding: 0px 50px;
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.FAQ-wrap > ul:hover {
  color: #bf1369;
}

.FAQ-wrap > ul > li {
  width: auto;
  height: auto;
  font-size: 20px;
  font-family: "GyeonggiTitleM";
  text-align: left;
}

.FAQ-wrap > tbody > tr > td:last-child {
  text-align: right;
}

.Answer {
  width: 100%;
  min-height: 150px;
  background-color: #333;
  color: #fff;
  font-family: "GyeonggiTitleM";
  font-size: 20px;
  padding: 50px;
  text-align: left;
  display: flex;
  align-items: center;
  display: none;
}

.Answer > p {
  width: auto;
  height: auto;
}

.Answer > p:hover {
  color: #fff;
}

/* 푸터 css시작 */

footer {
  width: 100%;
  background-color: #333;
  height: 100px;
  line-height: 100px;
  margin: 0 auto;
  padding: 0;
}

.information {
  width: 100%;
  height: 100px;
  position: relative;
  display: flex;
  justify-content: space-evenly;
}

.information h4 {
  color: #fff;
  font-size: 25px;
  width: auto;
  height: 100px;
  line-height: 100px;
}

.information span {
  color: #fff;
  height: 100px;
  width: auto;
}

/* 푸터 css 끝 */
