@font-face {
  font-family: "GyeonggiTitleM";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GyeonggiTitleM.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

input {
  transition: 0.3s;
  color: #666;
  font-family: "GmarketSansMedium", "GyeonggiTitleM";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
}

label {
  font-family: "GmarketSansMedium", "GyeonggiTitleM";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
}

input:focus {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  outline: none;
}

* {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

html,
body {
  min-width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* 헤더css시작 */

header {
  width: 100%;
  height: 100px;
  display: flex;
  border-bottom: 1px solid #00d1fe;
  justify-content: space-around;
}

.logo {
  width: 200px;
  height: 100px;
}

.logo img {
  width: 80px;
  height: 80px;
  margin-top: 10px;
  margin-left: 10px;
}

.menu {
  display: flex;
  justify-content: center;
}

.menu > ul {
  list-style: none;
  display: flex;
  justify-content: center;
  width: 700px;
}

.menu > ul > li {
  line-height: 100px;
}

.menu > ul > li > a:hover {
  color: #00d1fe;
}

.menu > ul > li > a {
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  color: #333;
  font-family: "GyeonggiTitleM";
}

.top-Icon {
  width: 200px;
  height: 100px;
  display: flex;
}

.top-Icon ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-Icon li {
  list-style: none;
  width: 60px;
  height: 60px;
  opacity: 0.7;
}

.top-Icon li:hover {
  opacity: 1;
}

.top-Icon img {
  width: 40px;
  height: 40px;
  margin: 10px;
}

/* 헤더 css끝 */
/* 본문 */
.section-wrap {
  width: 80%;
  height: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin: 0 auto;
  border: 1px solid red;
}

.contents {
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: block;
  padding: 0 200px;
  /* margin: 0 auto; */
  border: 1px solid #00d1fe;
}
.postTitle {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 2px solid black;
}

.like-box {
  width: 60px;
  height: 100px;
  border: 1px solid #00d1fe;
  position: relative;
  top: 0;
  left: 0;
  margin: 5%;
}
.postContent {
  padding: 0 auto;
}
.postContent div {
  height: fit-content;
}

.postContent p {
  height: fit-content;
}

.side-bar {
  width: 80%;
  height: 30%;
  border: 1px solid red;
}
.side-bar div {
  width: 80%;
  height: 100%;
  margin: 32px auto;
}
.comment {
  width: 100%;
  height: 100%;
}

.comment-box {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.upload-btn {
  transition: 0.3s;
  width: 150px;
  height: 50px;
  border-radius: 4px;
  background-color: #00d1fe;
  border: none;
  font-size: 15px;
  color: #fff;
  font-weight: bold;
  margin-left: 50px;
}

.upload-btn:hover {
  border: #00d1fe 2px solid;
  background-color: #fff;
  color: #00d1fe;
  cursor: pointer;
}

/* 본문 끝 */

/* 푸터 css시작 */

footer {
  float: left;
  width: 100%;
  background-color: #666;
  height: 300px;
  margin: 0;
  padding: 0;
}

.information {
  width: 100%;
  height: 300px;
  position: relative;
}

.information h4 {
  color: #fff;
  font-size: 25px;
  padding: 20px;
  width: 400px;
  height: 25px;
}

.information span {
  position: absolute;
  top: 60px;
  left: 20px;
  color: #fff;
  width: 400px;
  height: 200px;
}

/* 푸터 css 끝 */
