@font-face {
    font-family: 'GyeonggiTitleM';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GyeonggiTitleM.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

html,body{
    min-width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

/* 헤더css시작 */

header{
    width: 100%;    
    height: 100px;
    display: flex;
    border-bottom: 1px solid #00D1FE;
    justify-content: space-around;
}

.logo{
    width: 200px;
    height: 100px;
}

.logo img{
    width: 80px;
    height: 80px;
    margin-top: 10px;
    margin-left: 10px;
}

.menu{
    display: flex;
    justify-content: center;
}


.menu>ul{
    list-style: none;
    display: flex;
    justify-content: center;
    width: 700px;
}

.menu>ul>li{
    line-height: 100px;
}

.menu>ul>li>a:hover{
    color: #00D1FE;
}

.menu>ul>li>a{
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    color: #333;
}

.top-Icon{
    width: 200px;
    height: 100px;
    display: flex;
}

.top-Icon ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-Icon li{
    list-style: none;
    width: 60px;
    height: 60px;
}

.top-Icon img{
    width: 40px;
    height: 40px;
    margin: 10px;
}

/* 헤더 css끝 */

.wrap{
    margin: 0 auto;
    width: 1000px;
    display: block;
    height: 1400px;
}

.write{
    width: 1000px;
    display: block;
}

.name{
    width: 800px;
    height: 100px;
    margin-left: 100px;
    border-radius: 8px;
    border: 4px solid #00D1FE;
    font-size: 20px;
    padding-left: 20px;
    margin-top: 30px;
}

.name::placeholder{
    position: absolute;
    left: 20px;
    top: 30px;
    font-size: 30px;
    line-height: 100px;
}

.birth{
    width: 800px;
    height: 100px;
    margin-left: 100px;
    border-radius: 8px;
    border: 4px solid #00D1FE;
    font-size: 20px;
    padding-left: 20px;
    margin-top: 30px;
}

.gender{
    width: 800px;
    height: 100px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.man{
    display: flex;
    justify-content: center;
    align-items: center;
}

.man>input{
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.man>label{
    font-size: 18px;
    line-height: 100px;
    display: inline-block;
    width: 100px;
    font-weight: bold;
    text-align: center;
}

.woman{
    display: flex;
    justify-content: center;
    align-items: center;
}

.woman>input{
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.woman>label{
    font-size: 18px;
    line-height: 100px;
    display: inline-block;
    width: 100px;
    font-weight: bold;
    text-align: center;
}

.emailwrap{
    display: flex;
    height: 108px;
    margin-top: 30px;
}

.email{
    width: 525px;
    height: 100px;
    margin-left: 100px;
    border-radius: 8px;
    border: 4px solid #00D1FE;
    font-size: 30px;
    padding-left: 20px;
}

.email::placeholder{
    position: absolute;
    left: 20px;
    top: 30px;
    font-size: 30px;
    line-height: 100px;
}

.emailwrap button{
    width: 225px;
    height: 108px;
    border-radius: 8px;
    background-color: #00D1FE;
    border: none;
    margin-left: 50px;
    font-size: 20px;
    color: #fff;
    font-weight: bold;
}

.emailwrap button:hover{
    border: #00D1FE 4px solid;
    background-color: #fff;
    color: #00D1FE;
    cursor: pointer;
}

.title{
    width: 100%;
    height: 300px;
    text-align: center;
    line-height: 300px;
    font-size: 50px;
    font-weight: bold;
    font-family: 'GyeonggiTitleM';
}

.nicknamewrap{
    display: flex;
    height: 108px;
}

.nickname{
    width: 525px;
    height: 100px;
    margin-left: 100px;
    border-radius: 8px;
    border: 4px solid #00D1FE;
    font-size: 30px;
    padding-left: 20px;
}

.nickname::placeholder{
    position: absolute;
    left: 20px;
    top: 30px;
    font-size: 30px;
    line-height: 100px;
}

.nicknamewrap button{
    width: 225px;
    height: 108px;
    border-radius: 8px;
    background-color: #00D1FE;
    border: none;
    margin-left: 50px;
    font-size: 30px;
    color: #fff;
    font-weight: bold;
}

.nicknamewrap button:hover{
    border: #00D1FE 4px solid;
    background-color: #fff;
    color: #00D1FE;
    cursor: pointer;
}


.password{
    width: 800px;
    height: 100px;
    margin-left: 100px;
    border-radius: 8px;
    border: 4px solid #00D1FE;
    font-size: 30px;
    padding-left: 20px;
    margin-top: 30px;
}

.password::placeholder{
    position: absolute;
    left: 20px;
    top: 30px;
    font-size: 30px;
    line-height: 100px;
}

.passwordwrap button{
    width: 225px;
    height: 108px;
    border-radius: 8px;
    background-color: #00D1FE;
    border: none;
    margin-left: 50px;
    font-size: 30px;
    color: #fff;
    font-weight: bold;
}

.passwordwrap button:hover{
    border: #00D1FE 4px solid;
    background-color: #fff;
    color: #00D1FE;
    cursor: pointer;
}

.passwordcheck{
    width: 800px;
    height: 100px;
    margin-left: 100px;
    border-radius: 8px;
    border: 4px solid #00D1FE;
    font-size: 30px;
    padding-left: 20px;
    margin-top: 30px;
}


/* 푸터 css시작 */

footer{
    float: left;
    width: 100%;
    background-color: #666;
    height: 300px;
    margin: 0;
    padding: 0;
}

.information{
    width: 100%;
    height: 300px;
    position: relative;
}

.information h4{
    color: #fff;
    font-size: 25px;
    padding: 20px;
    width: 400px;
    height: 25px;
}

.information span{
    position: absolute;
    top: 60px;
    left: 20px;
    color: #fff;
    width: 400px;
    height: 200px;
}

/* 푸터 css 끝 */