<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
    <link rel="stylesheet" href="../css/index.css" type="text/css" />
    <link rel="stylesheet" href="../css/logout.css" type="text/css" />
    <link rel="stylesheet" href="../css/modal.css" type="text/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://code.jquery.com/jquery-3.7.1.js"
      integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
      crossorigin="anonymous"
    ></script>
    <script src="
        https://cdn.jsdelivr.net/npm/axios@1.7.2/dist/axios.min.js
        "></script>
    <script defer src="../js/index.js"></script>
    <script defer src="../js/logout.js"></script>
  </head>

  <body>
    <!-- 헤더html시작 -->

    <header>
      <div class="logo">
        <a href="mainpage.html">
          <img src="../images/logo/logo.png" alt="상단로고" />
        </a>
      </div>
      <nav class="menu">
        <ul>
          <li><a href="team.html">팀소개</a></li>
          <li><a href="lecture.html">강의</a></li>
          <li><a href="board.html">게시판</a></li>
          <li><a href="event.html">이벤트</a></li>
          <li><a href="FAQ.html">FAQ</a></li>
        </ul>
      </nav>
      <div class="top-Icon">
        <ul>
          <li>
            <a href="#" class="logoutBtn hidden_logout"
              ><img src="../images/icon/log-out.png" alt="상단 아이콘"
            /></a>
          </li>
          <li>
            <a href="login.html" id="myPage"
              ><img src="../images/icon/person.png" alt="상단 아이콘"
            /></a>
          </li>
          <li>
            <a href="cart.html"
              ><img src="../images/icon/shopping_bag.png" alt="상단 아이콘"
            /></a>
          </li>
        </ul>
      </div>
    </header>

    <!-- 헤더 html 끝 -->
    <div style="margin: auto">
      <div class="title" style="color: #666">
        <p>
          <span>H</span>
          <span>E</span>
          <span>L</span>
          <span>L</span>
          <span>O</span>
          <span>,</span>
          <span><br /></span>
          <span>W</span>
          <span>E</span>
          <span>&nbsp</span>
          <span>A</span>
          <span>R</span>
          <span>E</span>
          <span><br /></span>
          <span>M</span>
          <span>O</span>
          <span>V</span>
          <span>I</span>
          <span>E</span>
          <span>D</span>
          <span>I</span>
          <span>C</span>
          <span><br /></span>
          <span>🐋</span>
        </p>
      </div>
    </div>
    <div>
      <div>
        <svg
          class="waves"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          viewBox="0 24 150 28"
          preserveAspectRatio="none"
          shape-rendering="auto"
        >
          <defs>
            <path
              id="gentle-wave"
              d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"
            />
          </defs>
          <g class="parallax">
            <use
              xlink:href="#gentle-wave"
              x="48"
              y="0"
              fill="rgba(0,209,254,0.7"
            />
            <use
              xlink:href="#gentle-wave"
              x="48"
              y="3"
              fill="rgba(0,209,254,0.5)"
            />
            <use
              xlink:href="#gentle-wave"
              x="48"
              y="5"
              fill="rgba(255,255,255,0.3)"
            />
            <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
          </g>
        </svg>
        <div>
          <div class="mid-info">
            <!-- <img src="../images/logo/logo.png" /> -->
            <h1>환영합니다<br />MOVIEDIC 입니다 :)</h1>
            <br />
            <div class="mid-info">
              <h1>test</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 푸터 html 시작 -->

    <footer>
      <div class="information">
        <h4>MOVIE DIC</h4>
        <span>© 2024 MOVIEDIC. All rights reserved.</span>
      </div>
    </footer>

    <!-- 푸터 html 끝 -->
  </body>
</html>
