<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>lecture</title>
    <link href="../css/lecture.css" rel="stylesheet" type="text/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://code.jquery.com/jquery-3.7.1.js"
      integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
      crossorigin="anonymous"
    ></script>
    <script src="
    https://cdn.jsdelivr.net/npm/axios@1.7.2/dist/axios.min.js
    "></script>
    <script defer>
      const $jQ = jQuery.noConflict();
      $jQ(document).ready(function () {
        $jQ(".imageslide a:gt(0)").hide();
        setInterval(function () {
          $jQ(".imageslide a:first-child")
            .fadeOut(1000)
            .next("a")
            .fadeIn(1000)
            .end()
            .appendTo(".imageslide");
        }, 3000);
      });
    </script>
  </head>
  <body>
    <!-- 헤더html시작 -->

    <header>
      <div class="logo">
        <a href="mainpage.html">
          <img src="../images/logo/logo.png" alt="상단로고" />
        </a>
      </div>
      <nav class="menu">
        <ul>
          <li><a href="team.html">팀소개</a></li>
          <li><a href="lecture.html">강의</a></li>
          <li><a href="board.html">게시판</a></li>
          <li><a href="#">이벤트</a></li>
          <li><a href="#">QnA</a></li>
        </ul>
      </nav>
      <div class="top-Icon">
        <ul>
          <li>
            <a href="login.html"
              ><img src="../images/icon/person.png" alt="상단 아이콘"
            /></a>
          </li>
          <li>
            <a href="cart.html"
              ><img src="../images/icon/shopping_bag.png" alt="상단 아이콘"
            /></a>
          </li>
        </ul>
      </div>
    </header>

    <!-- 헤더 html 끝 -->

    <div class="imageslide">
      <a href="#">
        <span>무비딕과 함께하는 영화 강좌</span>
        <img
          src="../images/임시 이미지 파일모음/slideimage1.png"
          alt="슬라이드이미지1"
        />
      </a>
      <a href="#">
        <span>재미 있는 영화 정보를 함께 알아봐요</span>
        <img
          src="../images/임시 이미지 파일모음/slideimage2.png"
          alt="슬라이드이미지2"
        />
      </a>
      <a href="#">
        <span>당신이 알지 못했던 영화정보</span>
        <img
          src="../images/임시 이미지 파일모음/slideimage3.png"
          alt="슬라이드이미지3"
        />
      </a>
    </div>

    <div class="contents">
      <!-- <span>강의 이미지 들어갈 곳</span>  
       이미지 넣기때문에 주석처리함-->
    </div>

    <!-- 푸터 html 시작 -->

    <footer>
      <div class="information">
        <h4>MOVIE DIC</h4>
        <span>
          대표:최건<br /><br />
          사무실: 대전광역시 중구 중일로 121번길 20 방산빌딩 5층 502호 맨 뒷자리
        </span>
      </div>
    </footer>

    <!-- 푸터 html 끝 -->
    <script src="../js/lecture.js"></script>
  </body>
</html>
