<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>streamingpage</title>
    <link href="../css/streaming.css" rel="stylesheet" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="../js/streaming.js" defer type="text/javascript"></script>
</head>
<body>
        <div class="top">
            <div class="left">
                <a href="#" class="logo">
                    <img src="../images/icon/back.png" alt="뒤로가기">
                </a>
                <span>
                    히치콕으로 알아보는 촬영 / 연출
                </span>
            </div>
            <div class="hamburger">
                <a href="#">
                    <img src="../images/icon/menu.png" alt="메뉴">
                </a>
            </div>
        </div>

        <div class="slidemenu">
            <div class="closeSideMenu">
                <button>X</button>
            </div>
            <ul class="navi">
                <li>
                    <a href="myPage.html">마이페이지</a>
                </li>                
                <li>
                    <a href="board.html">자유 게시판</a>
                </li>                
                <li>
                    <a href="survey.html">설문조사</a>
                </li>                
                <li>
                    <a href="lecture.html">강의</a>
                </li>                
                <li>
                    <a href="lactureDetail.html">강의상세</a>
                </li>                
                <li>
                    <a href="team.html">팀 페이지</a>
                </li>                
                <li>
                    <a href="event.html">이벤트</a>
                </li>                               
            </ul>
        </div>

        <div class="contents">
            <div class="play">
                    <img src="../images/logo/logo.png" alt="로고">
                <a href="#">
                    <img src="../images/icon/play_circle.png" alt="플레이">
                </a>
            </div>
        </div>
        <div class="console">
            <div class="up-down">
                <a href="#"><img src="../images/icon/first_page.png" alt="이전">이전강의</a>
                <a href="#">다음강의<img src="../images/icon/last_page.png" alt="다음"></a>
            </div>
            <div class="preferences">
                <a href="#"><img src="../images/icon/assistant_on_hub.png" alt="화질설정">화질설정</a>
                <a href="#"><img src="../images/icon/capture.png" alt="전체화면">전제화면</a>
            </div>
        </div>
        
        <a class="teacher" href="#">
            <div>
                강사소개
            </div>
                <span>|</span>
            <div>
                    설문조사
            </div>
        </a>

                        <div id="pop_up">
                                <div class="aside">
                                    <h1>강사소개</h1>
                                    <h2>탑건(최건) 선생님</h2>
                                    <ol>
                                        <li>1995년 유명인사 “탐 크루즈”와 생일 同</li>
                                        <li>계룡시 출신</li>
                                        <li>용남초등학교 (졸업)</li>
                                        <li>연무고등학교 (중퇴)</li>
                                        <li>관양고등학교 (졸업)</li>
                                        <li>자랑스런 대한민국 마샬아츠 “택견” 도장 관원 출신</li>
                                        <li>대전광역시 거주</li>
                                        <li>DW아카데미학원 메타버스 에듀테크 4회차 팀장</li>
                                        <li>모바일 게임 서머너즈워즈 10년차</li>
                                        <li>모바일 게임 블루아카이브 서클 “dressAko” 가입 예</li>
                                        <li>ANIPLUS 관람 예정</li>
                                    </ol>                
                                </div> 
                                <div class="image-btn">
                                    <button><h1>X</h1></button>
                                    <img src="../images/임시 이미지 파일모음/피콜로페페.jpg" alt="임시이미지">
                                </div>                           
                        </div>
</body>
</html>